<div class="banner-container">
  <div class="banner-content">
    <div class="logo">
      <img src="assets/images/yta/logo.png" alt="YAJENTIO Logo">
    </div>
    <div class="training-info">
      <h1 class="academy-name">YAJENTIO TRAINING ACADEMY</h1>
      <p class="training-tagline">Hands-On Training</p>
    </div>
    <div class="social-info">
      <div class="social-icons">
        <a [href]="socialLinks.facebook" target="_blank"><i class="fab fa-facebook"></i></a>
        <a [href]="socialLinks.linkedin" target="_blank"><i class="fab fa-linkedin"></i></a>
        <a [href]="socialLinks.youtube" target="_blank"><i class="fab fa-youtube"></i></a>
        <a [href]="socialLinks.instagram" target="_blank"><i class="fab fa-instagram"></i></a>
        <a [href]="socialLinks.whatsapp" target="_blank"><i class="fab fa-whatsapp"></i></a>
        <a [href]="socialLinks.twitter" target="_blank"><i class="fab fa-twitter"></i></a>
      </div>
      <div class="contact-info">
        <i class="fab fa-whatsapp"></i> / <i class="fas fa-phone"></i> {{ phoneNumber }}
      </div>
    </div>
  </div>
</div>

<header>
  <!-- Message Board -->
  <div class="message-board">
    <div class="message-label">Message Board</div>
    <div class="message-content">
      <marquee>
        Technical Knowledge | Practical Implementation On Live Projects | Live Project Training | Job Oriented Training | 100% Job Assistance
      </marquee>
    </div>
  </div>

  <nav class="navbar navbar-expand-lg navbar-light custom-navbar">
    <div class="container">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav me-auto">
          <ng-container *ngFor="let menu of navs">
            <li class="nav-item" *ngIf="menu.sub.length === 0">
              <a class="nav-link" [routerLink]="menu.url" routerLinkActive="active">{{ menu.name }}</a>
            </li>
            <li class="nav-item dropdown" *ngIf="menu.sub.length > 0">
              <a class="nav-link dropdown-toggle" [routerLink]="menu.url" role="button" data-bs-toggle="dropdown">
                {{ menu.name }}
              </a>
              <ul class="dropdown-menu">
                <ng-container *ngFor="let submenu of menu.sub">
                  <li>
                    <a class="dropdown-item dropdown-with-icon" [routerLink]="submenu.url">
                      <img [src]="submenu.icon" alt="{{ submenu.name }} icon" class="submenu-icon">
                      <span>{{ submenu.name }}</span>
                    </a>
                  </li>
                </ng-container>
              </ul>
            </li>
          </ng-container>

          <!-- Logged In -->
          <ng-container *ngIf="isLoggedIn">
            <li class="nav-item dropdown user-dropdown">
              <!-- <a class="nav-link dropdown-toggle user-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fas fa-user-circle"></i>
                <span class="user-email">{{ userEmail }}</span>
              </a> -->
              <ul class="dropdown-menu dropdown-menu-end user-menu">
                <li class="dropdown-header">
                  <i class="fas fa-user"></i> Welcome, {{ currentUser?.email }}
                </li>
                <li><hr class="dropdown-divider"></li>
                <li>
                  <!-- <a class="dropdown-item" href="#" (click)="logout()">
                    <i class="fas fa-sign-out-alt"></i> Logout
                  </a> -->
                </li>
              </ul>
            </li>
          </ng-container>
        </ul>
      </div>
    </div>
  </nav>
</header>
