
.whatsapp-button {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  background-color: var(--whatsapp-color);
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  z-index: 100;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    transform: scale(1.1);
  }

  img {
    width: 2rem;
    height: 2rem;
  }
}
