.container {
  max-width: 900px;
}

h3 {
  color: #007bff;
}

.card {
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

button {
  transition: all 0.3s ease-in-out;

  &:hover {
    background: rgb(184, 184, 227);
    transform: scale(1.05);
  }
}

ul {
  padding: 0;

  li {
    font-size: 1.1rem;
    margin-bottom: 8px;
  }
}
h3 {
  color: #007bff;
}

.table {
  border-radius: 8px;
  overflow: hidden;
}

.table td, .table th {
  vertical-align: middle;
}

.text-success {
  font-weight: bold;
}

.text-danger {
  color: #d9534f;
}

.container {
  margin-top: 30px;
}

.text-center {
  text-align: center;
}

img {
  max-width: 100px;
  height: auto;
  margin-bottom: 15px;
}

h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
  color: #333;
}

p {
  font-size: 0.9em;
  color: #666;
}

h3 {
  color: #333;
}

.accordion-button {
  font-weight: bold;
}

.accordion-button:focus {
  box-shadow: none;
  border-color: #007bff;
}

.accordion-body {
  font-size: 14px;
  color: #555;
}
